name: test

on: [push]

jobs:

  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ["3.9", "3.10"]

    steps:
    - uses: actions/checkout@v2

    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python }}

    - name: Install Poetry package
      run: pip install poetry

    - name: Install project dependencies
      run: poetry install -v

    - name: Test project
      run: poetry run pytest --cov=fondat-salesforce tests/
      env:
          FONDAT_SALESFORCE_CLIENT_ID: ${{ secrets.FONDAT_SALESFORCE_CLIENT_ID }}
          FONDAT_SALESFORCE_CLIENT_SECRET: ${{ secrets.FONDAT_SALESFORCE_CLIENT_SECRET }}
          FONDAT_SALESFORCE_USERNAME: ${{ secrets.FONDAT_SALESFORCE_USERNAME }}
          FONDAT_SALESFORCE_PASSWORD: ${{ secrets.FONDAT_SALESFORCE_PASSWORD }}
